.Popup {
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.45rem;
  border-radius: 0.375rem;

  background-color: var(--color-tooltip);
  transform-origin: var(--transform-origin);
   transition:
    transform 0.125s ease-out,
    opacity 0.125s ease-out;
  max-width: 280px;
  width: max-content;

   &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.97);
  }
 
  /** This takes care of disabling subsequent animations */
  &[data-instant] {
    transition-duration: 0ms;
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--tooltip-border);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--tooltip-border);
    outline-offset: -1px;
  }
}

.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: var(--color-tooltip);
}

.ArrowOuterStroke {
  @media (prefers-color-scheme: light) {
    fill: var(--tooltip-border);
  }
}

.ArrowInnerStroke {
  @media (prefers-color-scheme: dark) {
    fill: var(--tooltip-border);
  }
}